#contact iframe {
    width: 100%;
}

.contact_1 h3 {
    display: inline;
}

.contact_1 a {
    text-shadow: none;
}

input {
    background:darkgreen;
}

.travel_mainDiv {
    border: 1px solid #c7c7c7;
    padding-left: 0px;
    padding-right: 0px;
    float: none
}

.travel_mainDiv img {
    width: 100%;
}

.travel_mainDiv hr {
    width: 230px;
}

.travel_mainDiv h5,
.travel_mainDiv p {
    margin-left: 20px;
}


.movie_head {
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 100%;
    display: inline-block;
}

.movie_head i {
    float: right;
}

.movie_text span {
    color: #ff7700;
}


.paintings_li {
    margin-top:13px;
}

.paintings_li h4{
    border-color:black;
    border-style:solid;
    padding:8px;
}

.paintings_li p {
    font-size:17px;
    font-family:sans-serif;
    margin-top:10px;
}

.paintings_li img{
    border-radius: 35px;
    border-color:aqua;
    border-style:solid;
    border:4px;
    padding:8px;
    border-left:10px;
}

.book {
    cursor:pointer;
}

.book hr
{margin-bottom:10px;
}

.modal-content {
    margin-top:100px;
}

.img_modal {
    display:inline-block;
}

.p_modal {
    margin-top:10px;
    
}

.modal-body {
    text-align:center;
}

.header_entrepreneur {
    line-height:2;
}

.travel_mainDiv img {
    height:400px;
    width:300px;
}